@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk:MORF@36&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playwrite+RO:wght@100..400&display=swap');

.font-1 {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-2 {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
}

.color {
    background-color: rgba(164, 26, 26, 0.698);
}

.home-container {
    width: 100%;

    .header {
        background-color: #f0f2f5;
        min-height: 100vh;

        .header_banner {
            background-color: #b31f1f;
        }
    }

    .header_banner {
        background-image: url("./img/background.png");
        background-size: cover;
        width: 100%;
        height: 600px;
    }

    .title_banner {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .title_banner h1 {
        font-size: 40px;
        color: white;
        margin: 10px 0;
    }

    .title_banner a {
        color: white;
        text-decoration: none;
    }

    .title_banner a:hover {
        color: brown;
        transition: 0.4s;
    }

    .button_banner {
        cursor: pointer;
        background-color: rgb(235, 79, 79);
        height: 60px;
        width: 200px;
        border-radius: 15px;
        border: none;
        color: white;
        font-size: 18px;
        margin-top: 20px;
    }

    .button_banner:hover {
        background-color: white;
        color: red;
        transition: 0.5s;
    }

    @media (max-width: 709px) {
        .title_banner h1 {
            font-size: 30px;
        }

        .button_banner {
            width: 150px;
            height: 50px;
            font-size: 16px;
        }
    }
}

@media (max-width: 709px) {
    .header_banner {
        height: 750px;
        width: 100%;
    }

    .title_banner {
        top: 40%;
    }

    .title_banner h1 {
        font-size: 24px;
        margin: 5px 0;
    }

    .button_banner {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
}

.band-home {
    display: flex;
    justify-content: space-between;

    .band1,
    .band2,
    .band3,
    .band4 {
        flex: 1;
        /* This will make the bands take equal space in the row */
        padding: 10px;
        /* Optional: padding around each band */
        margin-left: 70px;
        // /* Add 20px margin on the left side */
        margin-right: 70px;

        text-align: center;
        font-size: 40px;
    }
}


.title-dishe {
    text-align: center;
}

.section_main {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    /* Center the sections horizontally */
    // margin-left: 20px;
    // /* Add 20px margin on the left side */
    // margin-right: 20px;
    /* Add 20px margin on the right side */
}

.fl {
    float: left;
}

.clear {
    clear: both;
}

.bx {
    box-sizing: border-box;

}

.section1 {
    border: solid 4px;
    background-image: url(./img/buasang.jpg);
    height: 400px;
    opacity: 100%;
    background-size: cover;
    position: relative;
}

.section2 {
    border: solid 4px;
    background-image: url(./img/buatrua.jpg);
    height: 400px;
    opacity: 100%;
    background-size: cover;
    position: relative;
}

.section3 {
    border: solid 4px;
    background-image: url(./img/buatoi.jpg);
    height: 400px;
    opacity: 100%;
    background-size: cover;
    position: relative;
}

.section1 a {
    font-size: 50px;
    transition: 0.6s;
    margin-left: 30%;
    color: white;
    text-decoration: none;
}

.section2 a {
    font-size: 50px;
    transition: 0.6s;
    margin-left: 30%;
    text-decoration: none;
    color: white;
}

.section3 a {
    font-size: 50px;
    margin-left: 30%;
    text-decoration: none;
    transition: 0.6s;
    color: white;
}

.section1:hover {
    transition: 0.6s;
    cursor: pointer;
    opacity: 60%;
}

.section2:hover {
    cursor: pointer;
    transition: 0.6s;
    opacity: 60%;
}

.section3:hover {
    transition: 0.6s;
    cursor: pointer;
    opacity: 60%;
}

.section1:hover>a {
    color: #ece111b4;
    font-size: 65px;
    opacity: 100%;
    transition: 0.6s;
}

.section2:hover>a {
    font-size: 65px;
    opacity: 100%;
    color: #cf5e0d;
    transition: 0.6s;
}

.section3:hover>a {
    opacity: 100%;
    font-size: 65px;
    color: #100903;
    transition: 0.6s;
}


.title-shop {
    text-align: center;
}

.section_shop {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    /* Center the sections horizontally */
    margin-left: 20px;
    /* Add 20px margin on the left side */
    margin-right: 20px;
    /* Add 20px margin on the right side */
}

.shop1 {
    border: solid 4px;
    background-image: url(./img/com.jpg);
    height: 400px;
    opacity: 100%;
    background-size: cover;
    position: relative;
}

.shop2 {
    border: solid 4px;
    background-image: url(./img/kfc.jpg);
    height: 400px;
    opacity: 100%;
    background-size: cover;
    position: relative;
}

.shop3 {
    border: solid 4px;
    background-image: url(./img/sushi.jpg);
    height: 400px;
    opacity: 100%;
    background-size: cover;
    position: relative;
}

.shop4 {
    border: solid 4px;
    background-image: url(./img/bannerbun.jpg);
    height: 400px;
    opacity: 100%;
    background-size: cover;
    position: relative;
}

.shop1 span,
.shop2 span,
.shop3 span,
.shop4 span {
    display: none;
    /* Ẩn văn bản ban đầu */
    position: absolute;
    /* Để căn giữa */
    background-color: rgba(255, 255, 255, 0.8);
    /* Màu nền */
    padding: 5px 10px;
    /* Đệm */
    border: 1px solid #ccc;
    /* Viền */
    border-radius: 5px;
    /* Bo góc */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Đổ bóng */
    z-index: 1;
    /* Chỉ số lớp */
    text-align: center;
    /* Căn giữa văn bản */
    // pointer-events: all;
    /* Không ảnh hưởng đến sự kiện click */
}

/* Hiển thị văn bản khi hover vào */
.shop1:hover span,
.shop2:hover span,
.shop3:hover span,
.shop4:hover span {
    display: block;
}

.title-product {
    text-align: center;
}

.home-product {
    margin-top: 4px;
    display: flex;
    /* Sử dụng flexbox để dễ dàng điều chỉnh layout */
    margin-left: -40px;
    margin-right: -100px;

    /* Sử dụng flexbox để dễ dàng điều chỉnh layout */
    .productContainer {
        flex: 1;
        /* Chiếm hết không gian còn lại của phần tử cha */
    }
}


.footer {
    ul {
        list-style-type: none;

        li {
            a {
                cursor: pointer;
                color: #f9f9f9;
                text-decoration: none;
            }
        }
    }

    .footer-infor {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .nav-links {
        list-style-type: none;
        padding: 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        text-decoration: none;
    }

    .nav-links a:hover {
        text-decoration: underline;
    }

    .nav-links i {
        margin-right: 8px;
    }

    /* CSS */
    .a1:hover .fa-facebook {
        color: #3b5998;
        /* Màu xanh của Facebook */
    }

    .a2:hover .fa-twitter {
        color: #1da1f2;
        /* Màu xanh của Twitter */
    }

    .a3:hover .fa-google {
        color: #db4437;
        /* Màu đỏ của Google */
    }

    .a4:hover .fa-instagram {
        color: #e4405f;
        /* Màu hồng của Instagram */
    }

    .a5:hover .fa-github {
        color: #171515;
        /* Màu đen của Github */
    }

    .fa {
        font-size: 20px;
    }
}

.infor {
    li {
        padding-bottom: 15px;
    }
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: -60px;
    /* vị trí ẩn ban đầu */
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: right 0.3s ease;
    /* hiệu ứng chuyển động */
}

.scroll-to-top.show {
    right: 20px;
    /* vị trí hiển thị khi scroll xuống */
}